@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  /* background: #2864ff; */
}

.bebas {
  font-family: var(--font-bebas);
}

.playfair {
  font-family: var(--font-playfair);
}