@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  /* background: #2864ff; */
}

.bebas {
  font-family: var(--font-bebas);
}

.playfair {
  font-family: var(--font-playfair);
}

mask {
  overflow: hidden;
}

.stagger-tween-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
  margin: 0;
}


